
.spacer {
  height: 70px;
  top: 0;
}

.fantasticFont {
  font-family: 'Fantastic', sans-serif;
  font-size: 40px;
}
.logo {
  margin-top: 150px;
  margin-bottom: 100px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.logo:hover {
  transform: rotate(460deg); 
}


input {
  margin-left: 16px;
  padding: 8px;
  font-size: 16px;
  width: 300px;
  gap: 20px;
  margin-bottom: 30px;
  line-height: 30px;
  text-align: center;
}

input[type="file"] {
  padding: 0;
}

input::placeholder {
  color: #000000; 
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  text-align: center;

}


.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.message {
  margin-top: 0;
  height: 22px;
  color: #dd1b16;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Fantastic', sans-serif;
  word-spacing: 5px;
  letter-spacing: 3px;
  padding: 0 15px;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}


.label {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: .5px;
  text-align: left;
}
h1{
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}


.button {
  margin-left: 16px;
}

.form > label:last-of-type {
  margin-bottom: 16px;
}


.b68 {
  background: #9b6404;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 9px rgba(39, 174, 96, 0.15);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
}

.b68:hover {
  background-color: #1e8449;
}

.b68:active {
  transform: translateY(2px);
}


.buttonContainer {
  display: flex;
  justify-content: space-between;
}



.leftOverlay {
  position: absolute;
  top: 70px;
  left: 0;
  width: 50%;
  height: calc(100% - 70px); 
  background-size: cover;
  background-position: center; 
  z-index: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightOverlay {
  position: absolute;
  top: 30px; 
  right: 0;
  width: 50%;
  height: 137%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(23, 21, 22);
  z-index: 1;
}



.leftImage {
  max-width: 200%; 
  max-height: 200%; 
  object-fit: cover; 
  z-index: 0;
}
