main, main * {
  border: 1px solid #088808;
}

.spacer {
  height: 90px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.landing {
  /* background-color: rgb(93, 93, 59); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.landingTitle {
  background: rgb(0,50,0);
background: linear-gradient(180deg, rgba(0,50,0,1) 0%, rgba(4,103,4,1) 31%, rgba(25,77,25,1) 100%);
  font-family:'Times New Roman', Times, serif;
  font-size: 92px;
  margin-top: 10vh;
  margin-bottom: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fade 1s ease-in
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landingSubTitle {
  background: rgb(0,50,0);
background: linear-gradient(180deg, rgba(0,50,0,1) 0%, rgba(4,103,4,1) 31%, rgba(25,77,25,1) 100%);
  font-family:'Times New Roman', Times, serif;
  font-size: 32px;
  /* margin-top: 25vh; */
  margin-bottom: 5vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slowFade 3s ease-in;
}

@keyframes slowFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.howTo {
  /* background-color: #f00303; */
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
}

.container div p{
  /* background-color: blue; */
  max-width: 800px;
  width: 85vw;  
  margin: 10px;
}

.description {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(2, 122, 30);
  margin: 10px;
  padding: 40px
}

.directions {
  margin-bottom: 100px;
}

.directions > div {
  /* background-color: orange; */
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
  margin: 10px; 
}

.directions > div > h4 {
  /* background-color: purple; */
  width: 20vw;
  margin: 5px;
}

.directions > div > p {
  /* background-color: pink; */
  width: 60vw;
  margin: 5px;
}

.devs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  width: 85vw; 
  box-shadow: 5px 5px 10px black; 
  margin: 10px;
}

.devCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  margin: 5px;
}

.devCard {
  /* background-color: pink; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.linkLogo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}


.devTitle{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

h3{
  font-size: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}