/* main, main * {
  border: 1px solid #088808;
} */

/* .spacer {
  height: 90px;
} */

.fantasticFont {
  font-family: 'Fantastic', sans-serif;
  font-size: 40px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250vh;
}

.landing {
  /* background-color: rgb(93, 93, 59); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.titleContainer {
  background: #26120d;
  background: radial-gradient(circle, #242424d9 15%, #24242400 100%); 
  border-radius: 1000px;
  display: flex;
  justify-content: center;
}

.landingTitle {
  background-color: #242424; 
  border-radius: 10px;
  width: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fade 2s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landingSubTitle {
  background: #c99702;
  font-family: 'Fantastic', sans-serif;
  word-spacing: 10px;
  letter-spacing: 4px;
  font-size: 25px;
  margin-bottom: 100px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slowFade 4s ease-in;
}

@keyframes slowFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.description {
  padding: 20px;
  background-color: #242424;
  box-shadow: -3px -3px 10px #600204, 6px 6px 7px #3e0203;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 10px;
  padding: 40px;
  max-width: 1000px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: .5px;
  text-align: center;

}

.features {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #3f0202;
  box-shadow: -3px -3px 10px #797979, 6px 6px 7px black;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 100px;
  padding: 40px;
  max-width: 1000px;
  width: 85vw;
}

.directions > div {
  /* background-color: orange; */
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
  margin: 10px; 
}

.featureText{
  /* background-color: blue; */
  max-width: 800px;
  width: 85vw;  
  margin: 10px;
  font-size: 20px;
}


.directions > div > h4 {
  /* background-color: purple; */
  width: 20vw;
  margin: 5px;
  font-size: 26px;
}

.directions > div > p {
  /* background-color: pink; */
  width: 60vw;
  margin: 5px;
}

.devs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #242424;
  box-shadow: -3px -3px 10px #654619d6, 6px 6px 7px rgb(27, 25, 25);
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 100px;
  padding: 40px;
  max-width: 1000px;
  width: 85vw;
}

.devCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  width: 100%;
  margin: 5px;
  padding: 10px;
}

.devCard {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -3px -3px 10px #79797921, 6px 6px 7px rgba(0, 0, 0, 0.569);
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.linkLogo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}


.devTitle{
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Fantastic', sans-serif;
  word-spacing: 5px;
  letter-spacing: 3px;
  padding: 0 15px;
  margin-bottom: 30px;
  
}

h3{
  font-size: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.featureTitle{
  font-size: 30px;
  font-family: 'Fantastic', sans-serif;
  word-spacing: 5px;
  letter-spacing: 3px;
  padding: 0 15px;
  margin-bottom: 30px;
}
/* font-family: 'Roboto', sans-serif; */

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.linkLogo {
  width: 55px;
  height: 50px;
  margin-right: 5px;
  margin-bottom: 25px;
}
.devPhoto{
  width: 200px;
  height: 200px;
  background-size: cover; 
  background-position: center center; 
  border-radius: 50%;
  transition: transform 0.3s;
}

.devPhoto:hover {
transform: rotate(360deg); 
}
.devName{
  font-size: 25px;
  text-align: center;
  margin: 20px;
}

