* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fantasticFont {
  font-family: 'Fantastic', sans-serif;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add other styles for your container here */
}

.title{
  font-size: 50px;
  font-family: 'Fantastic', sans-serif;
  word-spacing: 15px;
  letter-spacing: 3px;
}

.spacer {
  height: 90px;
  top: 0px;
}

.name {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
  display: block;
  transition: transform 0.3s;
  margin-top: 50px;
}

.photo:hover {
  transform: rotate(360deg); 
}

h2 {
  display: inline-block;
  margin-right: 10px;
  margin-right: 30px;
}

main{
  height: calc(100vh - 150px)  ;
  margin-top: 10px;
}

.modalClose {
  display: none;
}

.modalOpen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  gap: 10px;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

.shelfContent {
  position: relative;
  z-index: 2;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap; 
  align-items: flex-start;
}

.catImage {
  height: 100px;
  width: auto;
  position: absolute; 
  bottom: -184px;
  left: 200px;
}

.edit{
  position: relative;
  top: -26px;
  right: -5px;
  cursor: pointer;
  border-radius: 7px;
  cursor: pointer;
  z-index: 4;
}

.delete {
  position: relative;
  top: -26px;
  right: -10px;
  cursor: pointer;
  border-radius: 7px;
  padding: 3px;
  cursor:pointer;
  z-index: 4;
}

.shelfName{
  position: relative;
  top: -2px;
  left: 20px;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
  z-index: 0;
}

.tooltip {
  position: relative;
  
}

.tooltip::after {
  content: attr(data-title);
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 0;
}

.tooltip:hover::after {
  display: block;
  opacity: .8;
}

.bookCover {
  position: relative;
  height: 160px;
  width: 25px;
  border-radius: 6px;
  margin-right: 3px ;
  z-index: 50;
}

.bookCover:hover {
  width: 105px;
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  z-index: 1000;
}

.shelfContent div {
  display: flex;
}

.arrowButton {
  position: absolute;
  background: none;
  border: none;
  font-size: 30px;
  top: 70px
}

.arrowButton:hover {
  cursor: pointer;
  color: inherit;
}

.arrowButton:first-of-type {
  left: -35px;
}

.arrowButton:last-of-type {
  right: -33px;
}

.shelf {
  width: 586px;
  height: 248px;
  background-image: url('../../assets/shelf.png');
  background-size:contain;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: -24px;
}

.shelfNavigation {
  display: flex;
  align-items: center;
}

.shelfActions {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 10px;
}

.shelfActions button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.b68 {
  appearance: none;
  backface-visibility: hidden;
  background: #740001;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.b68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  background: #003200;
  background: linear-gradient(180deg, #003200 0%, #046704 51%, #194d19 100%);
}

.b68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.b68:hover {
  box-shadow: #26f17b33 0 6px 7px;
}


.b68 :hover{
  box-shadow: 0 1px 4px #0000004d;
  color: #000;
}

input{
  background-color: #c0c0c0;
  border: none;
  padding: 5px;
  border-radius: 8px;
}

.bookContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 527px;
  height: 100%; 
  position: relative;
  top: 22px;
  right: -34px; 
  overflow-y:visible;
  /* overflow: hidden; */
  overflow-x: scroll hidden;
  /* overflow-x: hidden; */
  display: block;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
  z-index: 0;overflow-y: visible;
}

/* Styles for the container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add other styles for your container here */
}

/* Checkbox container */
.toggleContainer {
  position: relative;
}

/* Hidden default checkbox input */
.funCheckbox {
  display: none;
}

/* Checkbox label */
.funCheckboxLabel {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #c8a597; /* Default background color */
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Checkbox track (background) */
.funCheckboxLabel .funCheckboxTrack {
  width: 100%;
  height: 100%;
  background-color: #fff; /* Default track color */
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s;
}

/* Checkbox thumb (handle) */
.funCheckboxLabel .funCheckboxThumb {
  width: 26px;
  height: 26px;
  background-color: #fff; /* Default thumb color */
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s;
}

/* Checked state */
.funCheckbox:checked + .funCheckboxLabel {
  background-color: #531806; /* Background color when checked */
}

.funCheckbox:checked + .funCheckboxLabel .funCheckboxThumb {
  left: calc(100% - 28px);
}
