
.newComment,
.newComment label,
.newComment select,
.newComment textarea,
.newComment .dropdown,
.newComment .dropdownLabel,
.newComment .dropdownSelect,
.newComment .submit,
.newComment .cancel {
  font-family: 'Roboto', sans-serif;
}


.newComment {
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding: 10px;
  text-align: center;
  font-size: 16px; 
  width: 800px;
  background-color: #03172c;;
  border-radius: 30px;
  padding-top: 30px;
}


.newComment h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #fffdfd;
  font-weight: 700;
}


.newComment label {
  display: inline-block;
  margin-right: 10px;
  text-align: center; 
  color: #fffafa;
  width: 100px;
}

.newComment textarea {
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #2b2d2aeb;
  color: #e8dddd;
  resize: vertical;
  min-height: 120px;
  width: 400px;
  line-height: 32px;
  letter-spacing: .5px;
  text-align: center;
  outline: none;
  box-shadow: 0 0 5px #0056b3;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}


.newComment textarea::placeholder {
  color: #777;
  font-style: italic;
}


.newComment .dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}


.newComment .dropdownLabel {
  font-size: 16px;
  margin-right: 10px;
  text-align: right;
  color: #fffcfc;
  width: 100px;
  font-size: 20px;
}


.newComment .dropdownSelect {
  padding: 5px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #020202;
  color: #ffffff;
  min-width: 70px;
  outline: none;
  box-shadow: 0 0 5px #0c0c0caf;
  font-size: 16px; 
}


.newComment .submit,
.newComment .cancel {
  display: inline-block;
  background-color: #242526;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  width: 100px;
}

.newComment .submit:hover,
.newComment .cancel:hover {
  background-color: #0056b3;
}

.btnRow{
  display: flex;
  flex-direction: row;
  gap: 15px
}
form{
  align-items: center;
  justify-content: center;
  max-width: 600px;
}