.spacer {
  background-color: red;
  height: 90px;
  position: fixed;
}

.container  {
  display: flex;
  flex-wrap: wrap;
  /* gap: 32px; */
  justify-content: center;
  align-items: center;
  /* padding: 32px; */
}

/* .pageTitle {
  margin: 15px;
} */