
.spacer {
  min-height: 60px;
  top: 0px;
  /* You can adjust the spacer height to control the spacing at the top. */
}

.info {
  /* background-color: blue; */
  width: 800px;
  padding: 5px;
  margin: 30px 30px 50px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #740001;
  padding: 40px 20px 15px 20px;
  width: 800px;
  
}

.cover {
  max-height: 30vh;
  min-width: 240px;
  min-height: 200px;
  margin: 10px 45px 10px 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.sideBySide {
  display: inline-flex;
}

.sideBySide > .bookInfo {
  /* background-color: red; */
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.description {
  background: rgb(13,13,13);
background: linear-gradient(0deg, rgba(13,13,13,1) 0%, rgba(4,103,4,0) 19%);
  height: 185px;
  border-radius: 10px;
  /* padding: 10px 10px 0px 10px; */
  /* max-width: 380px; */
  overflow-y: scroll;
  margin-top: 15px;
  border: 2px solid #740001;
  padding: 10px;
}

.commentContainer {
  background-color: rgb(7, 22, 1); /* Add your desired background color */
  width: auto; /* Let it expand to fit the content */
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 10px 30px 10px 10px; 
  flex-wrap: wrap; 
}


.commentH1{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  
}

.bookTitle{
  font-size: 35px;
  text-align: left;
  margin: 20px 0 20px 44px;
}

.commentContainerSection{
  background-color: rgb(1, 18, 1);
  width: 70%;
  padding: 30px;
  border-radius: 25px;
}

h3{
  /* controls the author name */
  margin: 0px;
  font-size: 25px;
}

.b68 {
  appearance: none;
  backface-visibility: hidden;
  background: #740001;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.b68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  background: #003200;
  background: linear-gradient(180deg, #003200 0%, #046704 51%, #194d19 100%);
}

.b68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.b68:hover {
  box-shadow: #26f17b33 0 6px 7px;
}


.b68 :hover{
    box-shadow: 0 1px 4px #0000004d;
    color: #000;
}

button{
  margin-bottom: 20px;
  margin-top: 20px;
}