/* main, main * {
  border: 1px solid orange;
} */

.spacer {
  min-height: 60px;
  top: 0px;
  /* You can adjust the spacer height to control the spacing at the top. */
}

.info {
  /* background-color: blue; */
  width: 800px;
  padding: 5px;
  margin: 30px 30px 50px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  padding: 40px 20px 15px 20px;
}

.cover {
  max-height: 30vh;
  min-height: 400px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.sideBySide {
  display: inline-flex;
}

.sideBySide > .bookInfo {
  /* background-color: red; */
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.description {
  background: rgb(13,13,13);
background: linear-gradient(0deg, rgba(13,13,13,1) 0%, rgba(4,103,4,0) 19%);
  height: 185px;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
  overflow-y: scroll;
  
}

.commentContainer {
  background-color: rgb(7, 22, 1); /* Add your desired background color */
  width: auto; /* Let it expand to fit the content */
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 10px; /* Add margin for spacing around the comment container */
}

.commenth1{
  font-size: 30px;
}

.bookTitle{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.commentContainerSection{
  background-color: rgb(1, 18, 1);
  width: 85%;
  padding: 30px;
}