/* .nav, .nav * {
  border: 1px solid orange;
} */

.nav {
  background-color: rgb(1, 94, 1);
  height: 70px;
  width: 100%;
  position: fixed; 
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 5px 5px 10px black;
}

.logo{
  max-height: 70px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
}

ul {
  /* background-color: red; */
  display: flex;
  flex-direction: row; 
  justify-content: flex-end; 
} 

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  list-style-type: none;
  margin: 7px;
  text-decoration: underline;
}

