/* .nav, .nav * {
  border: 1px solid orange;
} */

.fantasticFont {
  font-family: 'Fantastic', sans-serif;
  font-size: 40px;
}

.navLink{
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Fantastic', sans-serif;
  word-spacing: 10px;
  letter-spacing: 4px;
  padding: 0 15px
}

.nav {
  background: #740001;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 2; /* Bring the navigation bar to the front */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Vertically center the content */
  box-shadow: 5px 5px 10px black;
}


.logoCase {
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;

}

.logo{
  height: 100px;
  /* width: 80px; */
  margin-left: 50px;
  background-color: rgb(20, 20, 20);
  box-shadow: 3px 4px 10px rgb(202, 158, 82);
  border-radius: 50%;
  padding: 5px;
  margin-top: 40px;
  transition: transform 0.3s
}

.logo:hover {
  transform: rotate(560deg); 
}

ul {
  /* background-color: red; */
  display: flex;
  flex-direction: row; 
  justify-content: flex-end; 
  align-items: flex-end;
} 



li {
  list-style-type: none;
  margin: 7px;
  text-decoration: none;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
