.linkContainer {
  width: 320px;
  height: 420px;
  margin-bottom: 40px;
  max-height: 320px;
  gap: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  border-radius: 10px;
  box-shadow: -3px -3px 10px #797979, 6px 6px 7px black;
}

.bookCardImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: block; /* Make the image a block-level element */
  margin: 0 auto; /* Horizontally center the image */
  /* padding-top: 20px; */
}

.bookCardText {
  font-size: 16px;
  color: #e4e4e4;
  text-align: center;
  width: 100%; 
  margin-top: 20px;
}

.bookCardContent {
  text-align: center;
  flex-wrap: wrap; 
}

.authorLink{
  font-size: 18px;
  margin-bottom: 20px;
  color: #e4e4ee;
}