.title{
  font-size: 30px;
}

.bookSearch {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
}

.spacer {
  height: 90px;
  min-height: 90px;
}

.flexbox {
  /* background: #8c662e; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  /* background-color: #a86d15; */

}

html, body {
  width: 100%;
  height: 100%;
  /* background-color: #946B2D; */
}

.search {
  margin: 20px;
}

.searchH3 {
  font-weight: normal;
}

.searchH1,
.searchH3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.searchDiv {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.searchDiv::after {
  content: "";
  background: white;
  width: 4px;
  height: 40px;
  position: absolute;
  top: 32px;
  right: 0px;
  transform: rotate(135deg);
  padding-bottom: 40px;
}

.searchInput {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;

}

.searchInput::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.searchInput:focus::placeholder {
  opacity: 1;
}

.searchInput:focus,
.searchInput:not(:placeholder-shown) {
  width: 600px;
  height: 40px;
}

.searchButton {
  display: block;
  margin: 0 auto; /* Center the button horizontally */
  width: 18%; /* Set the width to 25% of its container */
  color: #e4e4e4;
  background-color: #740001;
  margin-top: 40px;
  font-size: 20px;
  height: 45px;

  /* Hide the button by default */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.searchInput:focus + .searchButton,
.searchInput:not(:placeholder-shown) + .searchButton {
  opacity: 1;
  visibility: visible;
}

.paginationContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px;
}

.currentPage{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
}

.resultCount{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  color: red;
  margin-top: 20px;
}

.bookRes {
  display: flex;
  
}

.b68 {
  appearance: none;
  backface-visibility: hidden;
  background: #740001;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.b68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  background: #003200;
  background: linear-gradient(180deg, #003200 0%, #046704 51%, #194d19 100%);
}

.b68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.b68:hover {
  box-shadow: #26f17b33 0 6px 7px;
}


.b68 :hover{
    box-shadow: 0 1px 4px #0000004d;
    color: #000;
}

button{
  margin-bottom: 20px;
  margin-top: 20px;
}