.commentH4Title {
  display: flex;
  align-items: center;
  height: 20px;
  text-align: center;
  font-size: 20px;
  width: 100%;
  justify-content: center;
  margin-bottom: 35px;
}

.commentTester {
  display: flex;
  flex-wrap: wrap;
  /* gap: 5px; */
}

.commentCardContainer{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  gap: 35px;
}