/* Styles for the card container */
.commentCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #e8dddd;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #242424;
  box-shadow: -3px -3px 10px #797979, 6px 6px 7px black;
  width: 400px;
  max-height: 400px;
  justify-content: center;
  align-items: center;
}

/* Styles for the commentText section */
.commentCard .commentText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.commentCard .commentText p:nth-child(2),
.commentCard .commentText p:nth-child(3),
.commentCard .commentText p:last-child {
  font-weight: bold;
}

/* Styles for the commentButtons section */
.commentCard .commentButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center; /* Center buttons horizontally */
}

.commentCard .commentButtons button {
  background-color:  black;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 50%;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  width: 45px;
  height: 40px;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.commentCard .commentButtons button:hover {
  background-color: #da082b;
}


.commentCard .commenterPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center; 
  margin-bottom: 10px;
  transition: transform 0.3s;
}


.commentCard .namePhoto {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 5px;
}

.commentCard .namePhoto .name {
  padding: 0;
  margin: 0;
}

.commentCard .commenterPhoto:hover {
  transform: rotate(360deg); 
}

.commentText{
  line-height: 20px;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
}

.name{
  margin-bottom: 10px;
}

.emojis{
  margin-bottom: 10px;
}



.submit,
.cancel {
  display: inline-block;
  background-color: #242526;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  width: 100px;
  font-family: 'Roboto', sans-serif;
}

.submit{
  background-color: rgb(18, 101, 58);
}

.cancel{
  background-color: rgb(116, 11, 11);
}
.submit:hover,
.cancel:hover {
  background-color: #0056b3;
}
.btnRow{
  display: flex;
  flex-direction: row;
  gap: 15px
}

textarea #textinput {
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #2b2d2aeb;
  color: #e8dddd;
  resize: vertical;
  min-height: 120px;
  line-height: 32px;
  letter-spacing: .5px;
  text-align: center;
  outline: none;
  box-shadow: 0 0 5px #0056b3;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

textarea{
  width: 100%;
  min-width: 280px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.editComment {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;

}


.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  gap: 15px;
}


.editDeleteBtns {
  display: flex;
  gap: 8px; /* Adjust the gap between buttons as needed */
}

.emojis {
  font-size: 24px; /* Adjust the font size as needed */
  margin-bottom: 8px; /* Adjust the margin as needed */
}

.dropdownLabel {
  font-size: 16px;
  margin-right: 10px;
  text-align: right;
  color: #fffcfc;
  width: 100px;
  font-size: 20px;
}

.dropdownSelect {
  padding: 5px;
  border: 2px solid #333;
  border-radius: 10px;
  color: #ffffff;
  min-width: 70px;
  outline: none;
  box-shadow: 0 0 5px #0c0c0caf;
  font-size: 16px; 
}

.editComment .h2Edit {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: #fffdfd;
  font-weight: 600;
  justify-content: center;
}