*,
*::before,
*::after {
  box-sizing: inherit; 
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: #00d8ff
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}


.search-form {
  display: flex;
  justify-content: center;
}

.search-form > input {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-right: 16px;
  font-size: 18px;
  padding: 4px 8px;
  font-family: inherit;
  transition: border-color 0.25s;
}
.search-form > input:hover {
  border-color: #646cff;
}
.search-form > input:focus,
.search-form > input:focus-visible {
  outline: 3px auto -webkit-focus-ring-color;
}