/* main, main * {
  border: 1px solid #088808;
} */

.spacer {
  height: 90px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devCard {
  /* background-color: pink; */
  display: flex;
  max-width: 800px;
  justify-content: center;
  justify-content: space-around;
  margin-top: 40px;
}

.devCard > div {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px 20px 30px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}
.links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.linkContainer {
  display: flex;
  align-items: center;
}

.linkLogo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.title{
  font-size: 40px;
  margin-bottom: 20px;
}

.devPhoto {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  transition: transform 0.3s
}

.devPhoto:hover {
  transform: rotate(360deg); 
}


.devName{
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.devDescription{
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}