/* form, form * {
  border: 1px solid orange
} */

.newComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
  margin: 0 auto; /* Center horizontally */
  text-align: center; 
  width: 100%;
}

.newComment label {
  display: inline-block; /* Ensures the label and select are on the same line */
  margin-bottom: 10px; /* Adds some space below the label */
}

.newComment select {
  display: inline-block; /* Display the select element inline */
  margin-left: 10px; /* Adds some space between the label and select */
  margin-bottom: 10px; /* Adds some space below the select */
}
.submit {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 900;
  background: #007a5a;
  padding: 8px 14px 9px;
  font-size: 15px;
  border-radius: 4px;
  color: #fff;
  height: 36px;
  transition: all 75ms ease-in-out;
  :hover{
      box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
  }
  
}

button{
  margin-bottom: 20px;
  margin-top: 20px;
}